<body>
  <Header>
    <div id="menu">
      <ul class="nav justify-content-end">
        <li class="nav-list">
          <a class="nav-link active" aria-current="page" href="#home"> Home </a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="#habilidades"> Habilidades </a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="#sobre"> Sobre </a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="#projetos"> Projetos </a>
        </li>
      </ul>
    </div>
  </Header>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <main>
    <div>
      <div class="row">
        <div class="inicio">
        <section id="home" class="dv"></section>
          <aside class="sessao">
            <div class="">
              <div class="row vg">

                <div class="align-self-center">
                  <img class="sobres col-sm-4" src="/assets/conteudos/Ola.png" />
                </div>

                <p class="resumo">
                  Meu nome é Sarah Santana de Morais,
                  <strong>Desenvolvedora Front-End</strong>. Sejam muito bem-vindos
                  ao meu portfólio!
                </p>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <a id="mudacor" class="btn btn-warning" href="https://www.linkedin.com/in/sarah-santana-de-morais-1a2aaa277/" type="button">
                    Linkedin
                  </a>

                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>

    <hr id="habilidades">

    <br><br>

    <section>
      <div class="align-self-center">
        <img class="sobres col-sm-4" src="/assets/conteudos/habilidades.png" />
      </div>

        <div class="container">
          <div class="wrapper">
            <a class="btn btn-floating m-1">
              <img class="icons"  src="/assets/conteudos/Angular.png" alt="Angular">
              <p class="subtitulo">Angular</p>
            </a>

            <a class="btn btn-floating m-1">
              <img class="icons" src="/assets/conteudos/CSS3.png" target="blank">
              <p class="subtitulo">CSS3</p>
            </a>

            <a class="btn btn-floating m-1">
              <img class="icons" src="/assets/conteudos/github.png">
                <p class="subtitulo">GitHub</p>
            </a>

            <a class="btn btn-floating m-1" target="blank">
              <img class="icons" src="/assets/conteudos/HTML5.png">
              <p class="subtitulo">HTML5</p>
            </a>

            <a class="btn  m-1">
              <img class="icons" src="/assets/conteudos/JS.png">
              <p class="subtitulo">JavaScript</p>
            </a>

            <a class="btn btn-floating m-1" target="blank">
              <img class="icons" src="/assets/conteudos/sass.png">
              <p class="subtitulo">Sass</p>
            </a>
        </div>
      </div>
    </section>
<hr>

    <section id="sobre" class="sobre">
      <div class="sobre">
        <img src="/assets/conteudos/mosaico.png" alt="">
      </div>
      <img class="sobres" src="/assets/conteudos/Sobre.png"/>
      <div class="container" >
        <p>
          Em 2020, após passar em um concurso para atuar como jovem aprendiz da
          Petrobras, eu e um grupo de colegas, idealizamos um aplicativo para
          ajudar no cotidiano da empresa, com o objetivo de expandir para outras
          coorporações. Com isso acabei me interessando pela area, e dei
          continuidade ao prototipo, fazendo com que nos transformássemos em uma
          pequena startup. Oriunda a essa experiencia me aprofundei mais na
          codificação e desenvolvimento web.
        </p>

        <p>
          Posteriormente, tive o privilégio de desenvolver para uma agência de
          publicidade, liderada por uma grande corporação, onde tive a
          oportunidade de atuar em projetos nacionais e internacionais, e em
          pequenas startups. Durante esse período, desenvolvi minhas competências
          em Javascript, HTML, CSS, SASS e outras atividades como APIs e banco de
          dados e o framework Angular (8, 9 e 12).
        </p>

        <p id="espaço">
          Atualmente estou focando nas tecnologias voltadas ao FrontEnd, mas tenho
          o objetico de me tornar fullstack. Meu foco principal é construir
          aplicações de qualidade e trazer a melhor experiencia visual possivel
          nos projetos destinados a futuros clientes. No meu tempo livre, crio
          alguns projetos com coisas que gostava na infancia.
        </p>
      </div>
    </section>

    <hr>

    <section id="projetos">
        <div class="align-self-center">
          <img class="centralizador col-sm-4" src="/assets/conteudos/habilidades.png" />
        </div>
          <div class="projetos-itens">
              <div class="pro">
                <img src="/assets/conteudos/FFP.png">
              </div>
              <div class="pro">
                <img src="/assets/conteudos/Pokedéx.png">
              </div>
          </div>

          <div class="github-link">
              <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/SarahSSM1?tab=repositories" >
                <button>Repositórios no github</button>
              </a>
          </div>
    </section>
  </main>

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <footer id="footer" class="text-center text-white">
    <div class="container p-4 pb-0">
      <div class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/SarahSSM1?tab=repositories&q=&type=public&language=&sort=">
          <i class="fab fa-github"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="mailto:sarah.santana.morais1@gmail.com?subject=&body=">
          <i class="far fa-envelope"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/sarah-santana-de-morais-1a2aaa277/">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>

    <div class="text-center p-3">
      © 2023 Portfólio:
      <a class="text-white"> Desenvolvido por SarahSSM1.</a>
    </div>
  </footer>
</body>
